---
import { getEntry } from "astro:content";
import Alert from "../components/Alert.astro";
import Guide from "../components/Guide.astro";
import Layout from "../components/Layout.astro";
import TableRow from "../components/TableRow.astro";
import { supabase } from "../utils/database";

export const prerender = false;

let cursos;
let cursosError;

// Lista Cursos
if (supabase) {
  const { data, error } = await supabase
    .from("cursos")
    .select("*")
    .order("curso", { ascending: false });
  cursos = data;
  cursosError = error;
}

// Get guides
const connectGuide = await getEntry("guides", "guide-connect-supabase");
const fetchDataGuide = await getEntry("guides", "guide-fetch-data");
---

<Layout title="Web Frameworks">
  {
    supabase ? (
      cursos ? (
        <>
          <h1 class="mb-8 text-4xl font-bold">
            Listado Cursos
          </h1>
          <table class="w-full text-left">
            <thead>
              <tr class="font-mono text-base border-t border-b">
                <th>Curso</th>
              </tr>
            </thead>
            <tbody>
              {cursos?.map((curso) => (
                <TableRow curso={curso} />
              ))}
            </tbody>
          </table>
        </>
      ) : (
        <>
          {cursosError && (
            <Alert
              title={cursosError.code}
              text={cursosError.message}
              variant="error"
            />
          )}
          {fetchDataGuide && <Guide guide={fetchDataGuide} />}
        </>
      )
    ) : (
      <>
        <Alert title="Finish setting up your new site" text="Before your website is ready, you must complete the steps from the guide below to create, populate, and connect your Supabase database."/>
        {connectGuide && <Guide guide={connectGuide} />}
      </>
    )
  }
</Layout>
